.clock {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: 5px solid #0d7d91;
    border-radius: 50%;
    position: relative;
}

.number {
    font-size: 90px;
    position: absolute;
    color: #0d7d91;
}
.one {
    top: 8%;
    left: 66%;
}

.two {
    top: 22%;
    left: 79%;
}

.three {
    top: 43%;
    left: 84%;
}

.four {
    top: 60%;
    left: 76%;
}

.five {
    top: 73%;
    left: 65%;
}

.six {
    top: 80%;
    left: 47%;
}

.seven {
    top: 73%;
    left: 32%;
}

.eight {
    top: 60%;
    left: 16%;
}

.nine {
    top: 43%;
    left: 8%;
}

.ten {
    top: 22%;
    left: 8%;
}

.eleven {
    top: 8%;
    left: 21%;
}

.twelve {
    top: 0px;
    left: 41%;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
}

.hour {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    background-color: rgb(33, 191, 219);
    height: 110px;
    border-radius: 5px;
    z-index: 100;
    transform-origin: 100% 100%;
    transition-timing-function: ease;
    transition-duration: 3s;
}

.hour:hover {
    transform: rotate(60deg);
}

.minute {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 140px;
    background-color: rgb(33, 112, 122);
    border-radius: 5px;
    z-index: 50;
    transform-origin: 100% 100%;
    transition-timing-function: ease;
    transition-duration: 3s;
}

.minute:hover {
    transform: rotate(90deg);
}

.second {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 160px;
    background-color: rgb(81, 196, 224);
    border-radius: 5px;
    transform-origin: 100% 100%;
    transition-timing-function: ease;
    transition-duration: 3s;
}

.second:hover {
    transform: rotate(120deg);
}